<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- 测试，生产环境，持久化日志文件 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </root>

    <logger name="com.banmoon.spring_boot_logger.mapper" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_ERROR" />
    </logger>
</included>
