<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.reseeding.dao.EfHandleWaypointDao">
    <resultMap type="com.bear.reseeding.entity.EfHandleWaypoint" id="EfCompanyMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="lat" column="lat" jdbcType="DOUBLE"/>
        <result property="lng" column="lng" jdbcType="DOUBLE"/>
        <result property="alt" column="alt" jdbcType="DOUBLE"/>
        <result property="seedNum" column="seed_num" jdbcType="INTEGER"/>
        <result property="flyTimes" column="fly_times" jdbcType="INTEGER"/>
        <result property="handleId" column="handle_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- java项目www.fhadmin.org -->
    <insert id="insertBatch">
        INSERT INTO tb_student (name, age, phone, address, class_id) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.name},#{item.age},#{item.phone},#{item.address},#{item.classId})
        </foreach>
    </insert>
    <!-- 使用foreach 批量新增    -->
    <insert id="insertBatchByList" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO ef_handle_waypoint (id,lat,lng,alt,seed_num,handle_id,fly_times) VALUES
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.lat},#{entity.lng},#{entity.alt},#{entity.seedNum},#{entity.handleId},#{entity.flyTimes})
        </foreach>

    </insert>
    <!--根据handleId查询-->
    <select id="queryByHandleId" resultMap="EfCompanyMap" parameterType="int">
        SELECT * FROM ef_handle_waypoint
        WHERE handle_id = #{handleId}
    </select>

    <select id="queryByHandleIdAndtime" resultMap="EfCompanyMap" parameterType="int">
        SELECT * FROM ef_handle_waypoint
        WHERE handle_id = #{handleId} And
        COALESCE(fly_times, 0) IN
        <foreach collection="flyTimes" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="queryByHandleIdandFlyed" resultMap="EfCompanyMap" parameterType="int">
        SELECT * FROM ef_handle_waypoint
        WHERE handle_id = #{handleId} And
        COALESCE(fly_times, 0)  >= #{flyTimes}
    </select>

    <select id="queryByHandleIdNofly" resultMap="EfCompanyMap" parameterType="int">
        SELECT * FROM ef_handle_waypoint
        WHERE handle_id = #{handleId} And
        COALESCE(fly_times, 0)  = #{flyTimes}
    </select>


    <update id="updateHandleNmu">
        update ef_handle_waypoint
        set fly_times = coalesce(fly_times, 0) + 1
        where id = #{id}
    </update>

</mapper>