<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.reseeding.dao.EfMediaDao">

    <resultMap type="com.bear.reseeding.entity.EfOrthoImg" id="EfOrthoImgMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="mark" column="mark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="DOUBLE"/>
        <result property="scalePath" column="scale_path" jdbcType="VARCHAR"/>
        <result property="scaleSize" column="scale_size" jdbcType="DOUBLE"/>
        <result property="formats" column="formats" jdbcType="VARCHAR"/>
        <result property="des" column="des" jdbcType="VARCHAR"/>
        <result property="towerMark" column="tower_mark" jdbcType="VARCHAR"/>
        <result property="lat" column="lat" jdbcType="DOUBLE"/>
        <result property="lon" column="lng" jdbcType="DOUBLE"/>
        <result property="mapMd5" column="map_md5" jdbcType="VARCHAR"/>
        <result property="mapPath" column="map_path" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteOrthoImgById">
        delete from ef_orthoimg where id = #{id}
    </delete>

    <delete id="deleteOrthoImgBytowermark">
        delete from ef_orthoimg where tower_mark = #{towerMark}
    </delete>

    <select id="getOrthoImgByTowerMark" resultMap="EfOrthoImgMap">
        select * from ef_orthoimg
        where tower_mark = #{towerMark} order by create_time desc limit 1
    </select>

    <select id="getOrthoImglist" resultMap="EfOrthoImgMap">
        select * from ef_orthoimg
        <where>
            <if test="mark!=null">
                mark LIKE CONCAT('%', #{mark}, '%')
            </if>
            <if test="1==1">
                AND create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="insertOrthoImg" keyProperty="id" parameterType="com.bear.reseeding.entity.EfOrthoImg">
        insert into ef_orthoimg (mark, create_time, path, size, scale_path, scale_size, formats, des, tower_mark, lat, lng, map_md5, map_path)
        values (#{mark}, #{createTime}, #{path}, #{size}, #{scalePath}, #{scaleSize}, #{formats}, #{des}, #{towerMark}, #{lat}, #{lon}, #{mapMd5}, #{mapPath})
    </insert>



</mapper>