<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.reseeding.dao.EfUavAlternateHomeDao">

    <resultMap type="com.bear.reseeding.entity.EfUavAlternateHome" id="EfUavAlternateHomeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uavId" column="uav_id" jdbcType="VARCHAR"/>
        <result property="hiveId" column="hive_id" jdbcType="VARCHAR"/>
        <result property="lat" column="lat" jdbcType="NUMERIC"/>
        <result property="lng" column="lng" jdbcType="NUMERIC"/>
        <result property="alt" column="alt" jdbcType="NUMERIC"/>
        <result property="altAbs" column="alt_abs" jdbcType="NUMERIC"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="NUMERIC"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EfUavAlternateHomeMap">
        select
          id, uav_id, hive_id, lat, lng, alt, alt_abs, address, area
        from pointcloud.ef_uav_alternate_home
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="EfUavAlternateHomeMap">
        select
          id, uav_id, hive_id, lat, lng, alt, alt_abs, address, area
        from pointcloud.ef_uav_alternate_home
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="EfUavAlternateHomeMap">
        select
        id, uav_id, hive_id, lat, lng, alt, alt_abs, address, area
        from pointcloud.ef_uav_alternate_home
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="uavId != null and uavId != ''">
                and uav_id = #{uavId}
            </if>
            <if test="hiveId != null and hiveId != ''">
                and hive_id = #{hiveId}
            </if>
            <if test="lat != null">
                and lat = #{lat}
            </if>
            <if test="lng != null">
                and lng = #{lng}
            </if>
            <if test="alt != null">
                and alt = #{alt}
            </if>
            <if test="altAbs != null">
                and alt_abs = #{altAbs}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="area != null">
                and area = #{area}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into pointcloud.ef_uav_alternate_home(uav_id, hive_id, lat, lng, alt, alt_abs, address, area)
        values (#{uavId}, #{hiveId}, #{lat}, #{lng}, #{alt}, #{altAbs}, #{address}, #{area})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into pointcloud.ef_uav_alternate_home(uav_id, hive_id, lat, lng, alt, alt_abs, address, area)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.uavId}, #{entity.hiveId}, #{entity.lat}, #{entity.lng}, #{entity.alt}, #{entity.altAbs},
            #{entity.address}, #{entity.area})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into pointcloud.ef_uav_alternate_home(uav_id, hive_id, lat, lng, alt, alt_abs, address, area)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.uavId}, #{entity.hiveId}, #{entity.lat}, #{entity.lng}, #{entity.alt}, #{entity.altAbs},
            #{entity.address}, #{entity.area})
        </foreach>
        on duplicate key update
        uav_id = values(uav_id) , hive_id = values(hive_id) , lat = values(lat) , lng = values(lng) , alt = values(alt)
        , alt_abs = values(alt_abs) , address = values(address) , area = values(area)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update pointcloud.ef_uav_alternate_home
        <set>
            <if test="uavId != null and uavId != ''">
                uav_id = #{uavId},
            </if>
            <if test="hiveId != null and hiveId != ''">
                hive_id = #{hiveId},
            </if>
            <if test="lat != null">
                lat = #{lat},
            </if>
            <if test="lng != null">
                lng = #{lng},
            </if>
            <if test="alt != null">
                alt = #{alt},
            </if>
            <if test="altAbs != null">
                alt_abs = #{altAbs},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from pointcloud.ef_uav_alternate_home where id = #{id}
    </delete>

</mapper>

